$primary-color: #282c34;
$secondary-color: #61dafb;


$color-green-800: #007d6d;
$color-green-700: #008675;
$color-green-600: #27a18f;
$color-green-500: #00be9e;
$color-green-400: #00ccaa;
$color-green-200: #e5f9f6;

$color-red: #AB3933;
$color-purple: #201952;

$color-blue-700: #1b6875;
$color-blue-600: #387e98;
$color-blue-500: #348bac;
$color-blue-200: #349da8;
$color-blue-100: #42a4bf;
$color-blue-050: #44B7C4;

$color-yellow-500: #fcaf17;
$color-yellow-200: #ffdb58;
$color-yellow-100: #f9f6c9;

$color-grey-700: #333333;
$color-grey-600: #535353;
$color-grey-500: #020202;
$color-grey-300: #8c959a;
$color-grey-200: #ebebeb;
$color-grey-100: #f2f2f2;

$color-beige-400: #C9BBA5;
$color-beige-200: #E2DDD2;

$color-orange-500: #f26522;

$color-red-500: #AB3933;

$color-white: #ffffff;
$color-black: #000000;

$color-white-tran: rgba(255, 255, 255, 0.3);

$color-disabled: $color-grey-100;
$color-brand: $color-green-400;
$color-error: $color-red;
$color-warning: $color-yellow-500;
$color-success: $color-green-600;

$color-grid3-red: #AB3933;
$color-grid3-orange: #F26522;
$color-grid3-yellow: #FCAF17;
$color-grid3-black: #3B3840;
$color-grid3-grey: #63666B;
$color-grid3-light-grey: #9B9DA3;
$color-grid3-brown: #AE9C82;
$color-grid3-light-brown: #C9BBA5;
$color-grid3-beige:  #E2DDD2;
$color-grid3-blue: #115E6E;
