$spacing-0: 5px;
$spacing-1: 10px;
$spacing-2: 15px;
$spacing-3: 20px;
$spacing-4: 30px;
$spacing-5: 40px;
$spacing-6: 50px;
$spacing-7: 60px;
$spacing-8: 70px;
$border-radius-small: 1px;
$border-radius-medium: 5px;
$border-radius-large: 20px;
